<phpunit bootstrap="./tests/bootstrap.php" beStrictAboutTestsThatDoNotTestAnything="true" checkForUnintentionallyCoveredCode="true">
    <testsuites>
        <testsuite name="zepi Turbo Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../turbo-coverage" />
        <log type="coverage-clover" target="./coverage.xml" />
    </logging>
</phpunit>